:root {
  --verde-oscuro: #1a3a2a;
  --verde-medio: #2d6a4f;
  --verde-claro: #52b788;

  --crema: #f4f0e6;
  --crema-oscuro: #e8e0cc;

  --cafe: #7b4f2e;
  --cafe-claro: #c9956b;

  --azul: #1d3557;
  --azul-medio: #457b9d;

  --oro: #c9a64d;
  --gris: #6b705c;
  --rojo: #c0392b;
  --verde-ok: #27ae60;
}